<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{ title }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="form">
        <ion-item>
            <ion-label stacked>Título</ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <ion-item *ngIf="!form.controls.title.valid && (form.controls.title.dirty || form.controls.title.touched)" color="danger">
            <div [hidden]="!form.controls.title.errors.required">
                O campo é obrigatório
            </div>
        </ion-item>

        <ion-item>
            <ion-label stacked>From</ion-label>
            <ion-input type="tel" formControlName="from"></ion-input>
        </ion-item>
        <ion-item *ngIf="!form.controls.from.valid && (form.controls.from.dirty || form.controls.from.touched)" color="danger">
            <div [hidden]="!form.controls.from.errors.required">
                O campo é obrigatório
            </div>
        </ion-item>

        <div padding>
            <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
        </div>
    </form>
</ion-content>